.userName{
  padding: 8px;
  font-size: 12px;
}

.logout{
  background: transparent;
  padding: 8px;
  border: 0;
  font-size: 12px;
}

.logout:hover{
  background: purple;
  color: white;
  border-radius: 3px;
}