<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>header</title>
  </head>
  <body>
    <header class="header">
      <div class="header-ad">
        <!-- 쿠폰 광고 -->
        <a href="/">
          <span>
            지금 가입하고 인기상품
            <b>100원</b>
            에 받아가세요!
          </span>
        </a>
        <button class="header-ad-btn" type="button">
          <svg>엑스 이미지 넣기</svg>
        </button>
      </div>
      <ul>
        <li><a class="register" href="/">회원가입</a></li>
        <li>
          <span class="divider" aria-hidden="true">|</span>
          <a class="login-btn" href="/">로그인</a>
        </li>
        <li>
          <span class="divider" aria-hidden="true">|</span>
          <a class="information" href="/"
            >고객센터
            <!-- 아래로 표시하는 그림 어떻게 넣지?  -->
          </a>
        </li>
      </ul>
      <div class="search-wrapper">
        <h1 class="logo">
          <!-- 메인페이지로 이동하는 주소 입력 -->
          <a href="/">
            <picture>
              <!-- 로고 이미지 넣기 -->
              <img src="./images/Logo.png" alt="마켓칼리" />
            </picture>
          </a>
        </h1>
        <button>마켓칼리</button>
        <span class="divider" aria-hidden="true">|</span>
        <button>뷰티칼리</button>
        <button>N</button>

        <div class="search">
          <input type="button" placeholder="검색어를 입력해주세요" value="" />
          <button type="submit"></button>
        </div>
        <div class="ect-menu">
          <button>지도 그림</button>
          <button>하트 그림</button>
          <button>장바구니 그림</button>
        </div>
      </div>

      <nav>
        <div class="menu">
          <div class="hamberger">
            <!-- 햄버거 메뉴 이미지 -->
            <img src="/" alt="" />
            <span>카테고리</span>
          </div>
          <ul>
            <li><a href="">신상품</a></li>
            <li><a href="">베스트</a></li>
            <li><a href="">알뜰쇼핑</a></li>
            <li><a href="">특가/혜택</a></li>
          </ul>
        </div>
      </nav>

      <div class="package-info">
        <span>샛별･낮</span>
        배송안내
      </div>
    </header>
  </body>
</html>
