<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/components/css/style.css" />
    <script type="module" src="/src/components/header/header.js"></script>
    <title>header</title>
  </head>
  <body>
    <header class="header" id="header">
      <div class="fixed2">
        <div class="navigation2">
          <nav>
            <div class="nav-menu2">
              <div class="nav-capture2">
                <ul class="nav-menu-ul2">
                  <li class="nav-category2">
                    <img
                      src="/images/header/hamberger.svg"
                      alt="카테고리 목록"
                    />
                    카테고리
                  </li>
                </ul>
                <ul class="nav-menu-hide2">
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/present1.png"
                      alt=""
                    /><a href="">선물하기</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/plant2.png"
                      alt=""
                    /><a href="/">채소</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/apple3.png"
                      alt=""
                    /><a href="/">과일•견과•쌀</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/shrimp.png"
                      alt=""
                    /><a href="/">수산•해산•건어물</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/meat.png"
                      alt=""
                    /><a href="/">정육•계란</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/nabe.svg"
                      alt=""
                    /><a href="/">국•반찬•메인요리</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/leaves.png"
                      alt=""
                    /><a href="/">샐러드•간편식</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/sault.png"
                      alt=""
                    /><a href="/">면•양념•오일</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/coffee.png"
                      alt=""
                    /><a href="/">생수•음료•우유•커피</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/cookie.png"
                      alt=""
                    /><a href="/">간식•과자•떡</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/bread.png"
                      alt=""
                    /><a href="/">베이커리•치즈•델리</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/pill.png"
                      alt=""
                    /><a href="/">건강식품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/alchol.png"
                      alt=""
                    /><a href="/">와인</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/Icon.png"
                      alt=""
                    /><a href="/">전통주</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/senzai.png"
                      alt=""
                    /><a href="/">생활용품•리빙•캠핑</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/makeup.png"
                      alt=""
                    /><a href="/">스킨케어•메이크업</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/shampoo.png"
                      alt=""
                    /><a href="/">헤어•바디•구강</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/fork.png"
                      alt=""
                    /><a href="/">주방용품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/drum.png"
                      alt=""
                    /><a href="/">가전제품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/dog.png"
                      alt=""
                    /><a href="/">반려동물</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/baby.png"
                      alt=""
                    /><a href="/">베이비•키즈•완구</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/plane.png"
                      alt=""
                    /><a href="/">여행•티켓</a>
                  </li>
                </ul>
              </div>
              <ul class="header-center center">
                <li><a href="/">신상품</a></li>
                <li><a href="/src/pages/product/index.html">베스트</a></li>
                <li><a href="/">알뜰쇼핑</a></li>
                <li><a href="/">특가/혜택</a></li>
              </ul>

              <div class="search2">
                <form action="/" method="get">
                  <label for="search"></label>
                  <div class="input-wrapper">
                    <input
                      type="text"
                      id="search2"
                      placeholder="검색어를 입력해주세요"
                    />
                  </div>
                </form>
                <button id="submit" type="submit">
                  <img src="/images/header/glass.svg" alt="돋보기" />
                </button>
              </div>

              <div class="ect-menu">
                <a href="/"
                  ><img
                    class="add-package1"
                    src="/images/header/Group.svg"
                    alt="배송지 등록"
                  />
                </a>
                <a href="/"
                  ><img
                    class="heart-img"
                    src="/images/header/ic-heart.svg"
                    alt="찜하기"
                /></a>
                <a href="/src/pages/cart/index.html"
                  ><img
                    class="cart-img"
                    src="/images/header/cart.svg"
                    alt="장바구니"
                /></a>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="header-ad">
        <div class="header-ad-width">
          <a href="/">
            <span>
              지금 가입하고 인기상품
              <b>100원</b>
              에 받아가세요!
            </span>
          </a>
          <button class="header-ad-btn" type="button">
            <img src="/images/header/x-button.png" alt="창닫기" />
          </button>
        </div>
      </div>
      <div class="header-wrapper">
        <ul class="header-right">
          <li>
            <a class="register" href="/src/pages/register/index.html"
              >회원가입</a
            >
          </li>
          <li>
            <span class="divider" aria-hidden="true">|</span>
            <a class="login-btn" href="/src/pages/login/index.html">로그인</a>
          </li>

          <li>
            <span class="divider" aria-hidden="true">|</span>
            <a class="information" href="/"
              >고객센터
              <img src="/images/header/Icon_down.png" alt="" />
              <ul class="information-ul">
                <li><a href="">공지사항</a></li>
                <li><a href="">자주하는 질문</a></li>
                <li><a href="">1:1 문의</a></li>
                <li><a href="">대량 주문문의</a></li>
              </ul>
            </a>
          </li>
        </ul>
        <div class="search-wrapper">
          <div class="search-main">
            <h1 class="logo">
              <!-- 메인페이지로 이동하는 주소 입력 -->
              <a href="/index.html">
                <picture>
                  <img src="/images/header/logo.svg" alt="마켓칼리" />
                </picture>
              </a>
            </h1>
            <button href="/index.html" class="market">마켓칼리</button>
            <span class="divider" aria-hidden="true">|</span>
            <button class="beauty">
              뷰티칼리<img
                src="/images/header/new.svg"
                alt="new 뷰티칼리소식"
              />
            </button>
          </div>
          <div class="search">
            <form action="/" method="get">
              <label for="search"></label>
              <input
                type="text"
                id="search"
                placeholder="검색어를 입력해주세요"
              />
            </form>
            <button type="submit">
              <img src="/images/header/glass.svg" alt="돋보기" />
            </button>
          </div>
          <div class="ect-menu">
            <div class="ect-menu-add-package">
              <a href=""
                ><img
                  class="add-package add-package2"
                  src="/images/header/Group.svg"
                  alt="배송지 등록"
              /></a>
              <div class="drop-bubble">
                <div class="bubble-text">
                  <span>배송지를 등록</span>하고<br />
                  <span>구매가능한 상품을 확인하세요!</span>
                  <div class="bubble-login">
                    <a href="/src/pages/login/index.html">로그인</a>
                    <div class="bubble-search">
                      <img
                        width="22"
                        height="20"
                        src="/images/header/search-white.png"
                        alt="돋보기"
                      /><a href="https://www.kurly.com/address/shipping-address"
                        >주소검색</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="heart" href="#"
              ><img
                class="heart-img"
                src="/images/header/ic-heart.svg"
                alt="찜하기"
            /></a>
            <!-- 찜하기 누르면 나오는 모달창 -->
            <div class="modal-bg hidden">
              <div class="modal">
                <p class="modal-text">
                  로그인 하셔야 본 서비스를 이용하실 수 있습니다.
                </p>
                <div class="button-wrapper"></div>
                <button class="button-close">확인</button>
              </div>
            </div>
            <a href="/src/pages/cart/index.html"
              ><img
                class="cart-img"
                src="/images/header/cart.svg"
                alt="장바구니"
            /></a>
          </div>
        </div>
      </div>
      <div class="fixed">
        <div class="navigation">
          <nav>
            <div class="nav-menu">
              <div class="nav-capture">
                <ul class="nav-menu-ul">
                  <li class="nav-category">
                    <img
                      src="/images/header/hamberger.svg"
                      alt="카테고리 목록"
                    />
                    카테고리
                  </li>
                </ul>
                <ul class="nav-menu-hide1">
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/present1.png"
                      alt=""
                    /><a href="">선물하기</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/plant2.png"
                      alt=""
                    /><a href="/">채소</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/apple3.png"
                      alt=""
                    /><a href="/">과일•견과•쌀</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/shrimp.png"
                      alt=""
                    /><a href="/">수산•해산•건어물</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/meat.png"
                      alt=""
                    /><a href="/">정육•계란</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/nabe.svg"
                      alt=""
                    /><a href="/">국•반찬•메인요리</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/leaves.png"
                      alt=""
                    /><a href="/">샐러드•간편식</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/sault.png"
                      alt=""
                    /><a href="/">면•양념•오일</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/coffee.png"
                      alt=""
                    /><a href="/">생수•음료•우유•커피</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/cookie.png"
                      alt=""
                    /><a href="/">간식•과자•떡</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/bread.png"
                      alt=""
                    /><a href="/">베이커리•치즈•델리</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/pill.png"
                      alt=""
                    /><a href="/">건강식품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/alchol.png"
                      alt=""
                    /><a href="/">와인</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/Icon.png"
                      alt=""
                    /><a href="/">전통주</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/senzai.png"
                      alt=""
                    /><a href="/">생활용품•리빙•캠핑</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/makeup.png"
                      alt=""
                    /><a href="/">스킨케어•메이크업</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/shampoo.png"
                      alt=""
                    /><a href="/">헤어•바디•구강</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/fork.png"
                      alt=""
                    /><a href="/">주방용품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/drum.png"
                      alt=""
                    /><a href="/">가전제품</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/dog.png"
                      alt=""
                    /><a href="/">반려동물</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/baby.png"
                      alt=""
                    /><a href="/">베이비•키즈•완구</a>
                  </li>
                  <li>
                    <img
                      width="24"
                      height="24"
                      src="/images/header/nav-icon/plane.png"
                      alt=""
                    /><a href="/">여행•티켓</a>
                  </li>
                </ul>
              </div>
              <ul class="header-center">
                <li><a href="/src/pages/detail/index.html">신상품</a></li>
                <li><a href="/src/pages/product/index.html">베스트</a></li>
                <li><a href="">알뜰쇼핑</a></li>
                <li><a href="">특가/혜택</a></li>
              </ul>
            </div>
          </nav>
          <button class="package">
            <b>샛별･낮</b>
            배송안내
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
