.footer{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 28px 32px 0 0;
  line-height: 1.5; 
  border-top: 1px solid var(--gray-200, #C8C8C8);
  white-space: nowrap;
}

.footer em, address{
  font-style: initial;
}

.footer a{
  text-decoration-line: none;
  color:#333333;
}


  .happy{
    font-size: 21px
  }

  .footer-wrapper1 p {
    display: block;
    font-size: 16px;
  }
  .footer-wrapper1 strong {
    font-size: 38px;
    padding-right: 10px;
  }

.question{
  margin-top: 30px;
}

  .question, .question-one, .question-order{
    display: flex;
  }

  .question-p, .question-one-p, .question-order-p {
    color: #999;
    letter-spacing: -0.5px;
    line-height: 17px;
  }


  .question-ect{
    display: flex;
    flex-direction: column;
  }
  
  .question-ect a{
    color: #5F0080;
  }


  .footer-wrapper2 ul{
    display: flex;
    justify-content: space-between;
  }

  .footer button{
    display: block;
    width: 140px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: transparent;
    line-height: 39px;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    
  }

  .footer-wrapper2 address{
    margin: 28px 0;

  }
  
  .footer-wrapper2 address a{
    color: #5F0080;
  }



